In [6]:
letters = 'Hello World'

In [3]:
letters[0] ,letters[-1] ,letters[10] #一串文字的第幾個字母

('H', 'd', 'd')

In [5]:
letters[0:5]#重第幾個到第幾個 但不包含最後一個

'Hello'

In [7]:
letters[:5],letters[-5:],letters[:]

('Hello', 'World', 'Hello World')

In [9]:
for t in letters:
    print(t)

H
e
l
l
o

W
o
r
l
d

In [10]:
for t in enumerate(letters):
    print(t)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'W')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [11]:
city = 'taipei'
city.capitalize(), city.upper(), city.lower()

('Taipei', 'TAIPEI', 'taipei')

In [12]:
name = "Henny"
name = name.replace('H','P') #字串取代
name

'Penny'

In [13]:
name1 = "Henny"
name1 = "P" + name1[1:] #p+第一個到最後
name1

'Penny'

In [17]:
#找字串在第幾個
str1 = "this is Python Tutorial, there"
str1.find("Python")
str1.find("not")

-1

In [19]:
#找有沒有這字串
display("Python" in str1)
display("not" in str1)
display("not" not in str1)

True

False

True

In [20]:
"-".join("Hello"), "-".join(("1","2","3","4","5"))

('H-e-l-l-o', '1-2-3-4-5')

In [21]:
"Hello! World!".split(" ")

['Hello!', 'World!']

In [ ]:
#檢查是不是文字
name:str = "徐國堂"
name.isalpha()

In [ ]:
#檢查是不是數字
number = "12345"
number.isdigit(), number.isdecimal()

In [ ]:
mix = "123abc"
mix.isdigit(), mix.isalpha(), mix.isalnum()