In [2]:
import numpy as np
frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.974027 -2.193729  0.964888
台中  0.675870 -0.842234  0.597186
台南 -0.326381  2.091884 -0.096648
高雄 -0.040370  0.006606  2.014683

In [3]:
np.abs(frame)#絕對值

           b         d         e
台北  0.974027  2.193729  0.964888
台中  0.675870  0.842234  0.597186
台南  0.326381  2.091884  0.096648
高雄  0.040370  0.006606  2.014683

In [4]:
frame.abs()

           b         d         e
台北  0.974027  2.193729  0.964888
台中  0.675870  0.842234  0.597186
台南  0.326381  2.091884  0.096648
高雄  0.040370  0.006606  2.014683

In [5]:
display(frame.loc['台中'])
for items in frame.loc['台北']:
    print(items)

b    0.675870
d   -0.842234
e    0.597186
Name: 台中, dtype: float64

-0.9740267940775166
-2.193728902432698
0.9648876010443037

In [7]:
display(frame)
frame.loc['台北'].sum()
frame.loc['台中'].sum()
frame.loc['台南'].sum()
frame.loc['高雄'].sum()
frame['b'].sum()
frame['d'].sum()
frame['e'].sum()

           b         d         e
台北 -0.974027 -2.193729  0.964888
台中  0.675870 -0.842234  0.597186
台南 -0.326381  2.091884 -0.096648
高雄 -0.040370  0.006606  2.014683

3.4801092689263395

In [9]:
display(frame)
display(frame.sum())
display(frame.sum(axis=1))

           b         d         e
台北 -0.974027 -2.193729  0.964888
台中  0.675870 -0.842234  0.597186
台南 -0.326381  2.091884 -0.096648
高雄 -0.040370  0.006606  2.014683

b   -0.664908
d   -0.937472
e    3.480109
dtype: float64

台北   -2.202868
台中    0.430823
台南    1.668855
高雄    1.980919
dtype: float64

In [10]:
import pandas as pd
 

def abc(s:pd.Series) ->float:
    return s.max() - s.min()
frame.apply(abc,axis=1)

台北    3.158617
台中    1.518104
台南    2.418265
高雄    2.055053
dtype: float64

In [11]:
frame.sum(axis=1)

台北   -2.202868
台中    0.430823
台南    1.668855
高雄    1.980919
dtype: float64

In [ ]:
def ab(s:pd.Series)->pd.Series:
    return pd.Series([s.max(), s.min()],index=['最大','最小'])
display(frame)
frame.apply(ab,axis=1)