In [1]:
import pandas as pd
pd.read_excel('學生第一學期分數.xlsx')

   Unnamed: 0  學號  國文  英文  數學  地理  歷史   總分    平均  排名
0           0   1  75  85  76  82  98  416  83.2   1
1           7   8  98  77  98  76  64  413  82.6   2
2           6   7  72  79  86  78  94  409  81.8   3
3           8   9  64  64  97  98  76  399  79.8   4
4           3   4  69  81  85  91  66  392  78.4   5
5           5   6  83  70  65  93  74  385  77.0   6
6           4   5  71  84  89  63  72  379  75.8   7
7           1   2  65  79  77  70  82  373  74.6   8
8           2   3  68  66  70  66  96  366  73.2   9
9           9  10  86  60  67  78  63  354  70.8  10