In [13]:
import pandas as pd
pd.DataFrame({'莊xx':[69,87,100],#成績直的
             '林xx':[60,52,12],
             '侯xx':[45,69,96]},index=['國文','英文','數學'])

    莊xx  林xx  侯xx
國文   69   60   45
英文   87   52   69
數學  100   12   96

In [12]:
#手動2維list建立DataFrame
pd.DataFrame([[67, 98, 76],#成績衡的
              [92, 78, 65],
              [82, 69, 83]],index=['國文','英文','數學'],columns=['徐xx','張xx','王xx'])#index直得colums衡的

    徐xx  張xx  王xx
國文   67   98   76
英文   92   78   65
數學   82   69   83

In [9]:
#手動2維list建立DataFrame
pd.DataFrame([{"徐xx":69,'張xx':93,'王xx':75},
              {"徐xx":68,'張xx':95,'王xx':79},
              {"徐xx":66,'張xx':91,'王xx':70}
              ],index=['國文','英文','數學'])

    徐xx  張xx  王xx
國文   69   93   75
英文   68   95   79
數學   66   91   70